
<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title text-center">Edit user data</h2>
            <form class="example-form" [formGroup]="signupForm" (ngSubmit)="editUser()">
              <mat-form-field>
                <mat-label>Role</mat-label>
                <mat-select formControlName="role">
                    <mat-option value=''>Select Role</mat-option>
                    <mat-option *ngFor="let item of rolelist" [value]="item.code">
                        {{item.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
                <mat-checkbox  formControlName="isactive" class="example-margin">Is Active</mat-checkbox>
                <div class="example-button-row">
                  <button mat-raised-button color="primary">Submit</button>
                  <button mat-button 
                  mat-dialog-close>Close</button>
                  
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>